Add a book
<br/>
<form action="" method="POST">
    title: <input name="title" type="text"/><br/>
    author's name: <input name="authorName" type="text"/><br/>
    author's surname: <input name="authorSurname" type="text"/><br/>
    <input type="submit" value="Add"/>
</form>